
.container{
    display: grid;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: repeat(3,200px);
    gap: 10px 10px;
    justify-content: center;
    padding: 20px;
    }
    .container div img{
    
    width: 200px;
    height: 200px;
    }